<!DOCTYPE html>
<html>
<head>
<title>Credit Card Fraud Detection</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body{
  background-image: url("https://www.bing.com/th?id=OIP.fgOJHFtQUQwbZnEOGOGY9QHaHY&w=250&h=249&c=8&rs=1&qlt=90&o=6&dpr=1.25&pid=3.1&rm=2");
  background-repeat: no-repeat;
  background-size: cover;
}
input{
width: 100%;
}

</style>
</head>

  <body>

    <div class="container">
      {% if msg1 %}
      <div class="col-lg-12">
        <div class="alert alert-success" >
        <strong>Alert!</strong> {{ msg1 }}
        </div>
      </div>
      {% endif %}
      {% if msg2 %}
      <div class="col-lg-12">
        <div class="alert alert-danger" >
        <strong>Alert!</strong> {{ msg2 }}
        </div>
      </div>
      {% endif %}

      <div class="col-lg-12">


        <b><h1 style="padding-top: 10px; text-align: center; color: green; font-size: 40px;">CREDIT CARD FRAUD DETECTION</h1></b>
        <form action = "{{url_for('predict')}}" method ="POST" >
          <div class="col-lg-4">

            <div>
            <label for="Mean">Time</label><br>
            <input type="number"  id="age" name="Time"  required  class="form-control">
            </div>

            <div >
            <label for="variance">V1</label><br>
            <input type="number"  class="form-control" id="variance"  name="variance" required value="{{ a[0] }}">
            </div>

            <div >
            <label for="Standard_Deviation">V2</label><br>
            <input type="number"   id="age" name="Standard_Deviation"  class="form-control" required value="{{ a[1] }}">
            </div>

            <div >
            <label for="Entropy">V3</label><br>
            <input type="number"   id="variance" name="Entropy"  class="form-control" required value="{{ a[2] }}">
            </div>

            <div >
            <label for="Skewness">V4</label><br>
            <input type="number"   id="age" name="Skewness"  class="form-control" required value="{{ a[3] }}">
            </div>

            <div >
            <label for="Kurtosis">V5</label><br>
            <input type="number"   id="variance" name="Kurtosis"  class="form-control" required value="{{ a[4] }}">
            </div>

            <div >
            <label for="Contrast">V6</label><br>
            <input type="number"   id="age" name="Contrast"  class="form-control" required value="{{ a[5] }}">
            </div>

            <div >
            <label for="Mean">V7</label><br>
            <input type="number"   id="age" name="mean"  class="form-control" required value="{{ a[6] }}"> 
            </div>

            <div >
            <label for="variance">V8</label><br>
            <input type="number"   id="variance" name="variance"  class="form-control" required value="{{ a[7] }}">
            </div>

            <div >
            <label for="Standard_Deviation">V9</label><br>
            <input type="number"   id="age" name="Standard_Deviation"  class="form-control" required value="{{ a[8] }}">
            </div>

          </div>

          <div class="col-lg-4">

            <div >
            <label for="Entropy">V10</label><br>
            <input type="number"   id="variance" name="Entropy"  class="form-control" required value="{{ a[9] }}">
            </div>

            <div >
            <label for="Skewness">V11</label><br>
            <input type="number"   id="age" name="Skewness"  class="form-control" required value="{{ a[10] }}">
            </div>

            <div >
            <label for="Kurtosis">V12</label><br>
            <input type="number"   id="variance" name="Kurtosis"  class="form-control" required value="{{ a[11] }}">
            </div>

            <div >
            <label for="Contrast">V13</label><br>
            <input type="number"   id="age" name="Contrast"  class="form-control" required value="{{ a[12] }}">
            </div>

            <div >
            <label for="Mean">V14</label><br>
            <input type="number"   id="age" name="mean"  class="form-control" required value="{{ a[13] }}">
            </div>

            <div >
            <label for="variance">V15</label><br>
            <input type="number"   id="variance" name="variance"  class="form-control" required value="{{ a[14] }}">
            </div >

            <div >
            <label for="Standard_Deviation">V16</label><br>
            <input type="number"   id="age" name="Standard_Deviation"  class="form-control" required value="{{ a[15] }}">
            </div >

            <div >
            <label for="Entropy">V17</label><br>
            <input type="number"   id="variance" name="Entropy"  class="form-control" required value="{{ a[16] }}">
            </div>

            <div >
            <label for="Skewness">V18</label><br>
            <input type="number"   id="age" name="Skewness"  class="form-control" required value="{{ a[17] }}">
            </div>

            <div >
            <label for="Kurtosis">V19</label><br>
            <input type="number"   id="variance" name="Kurtosis"  class="form-control" required value="{{ a[18] }}">
            </div>

          </div>

          <div class="col-lg-4">

            <div >
            <label for="Contrast">V20</label><br>
            <input type="number"   id="age" name="Contrast"  class="form-control" required value="{{ a[19] }}">
            </div>

            <div >
            <label for="Mean">V21</label><br>
            <input type="number"   id="age" name="mean"  class="form-control" required value="{{ a[20] }}">
            </div>

            <div >
            <label for="variance">V22</label><br>
            <input type="number"   id="variance" name="variance"  class="form-control" required value="{{ a[21] }}">
            </div>

            <div >
            <label for="Standard_Deviation">V23</label><br>
            <input type="number"   id="age" name="Standard_Deviation"  class="form-control" required value="{{ a[22] }}">
            </div>

            <div >
            <label for="Standard_Deviation">V24</label><br>
            <input type="number"   id="age" name="Standard_Deviation"  class="form-control" required value="{{ a[23] }}">
            </div>

            <div >
            <label for="Entropy">V25</label><br>
            <input type="number"   id="variance" name="Entropy"  class="form-control" required value="{{ a[24] }}">
            </div>

            <div >
            <label for="Skewness">V26</label><br>
            <input type="number"   id="age" name="Skewness"  class="form-control" required value="{{ a[25] }}">
            </div>

            <div >
            <label for="Kurtosis">V27</label><br>
            <input type="number"   id="variance" name="Kurtosis"  class="form-control" required value="{{ a[26] }}">
            </div>

            <div >
            <label for="Contrast">V28</label><br>
            <input type="number"   id="age" name="Contrast"  class="form-control" required value="{{ a[27] }}">
            </div>

            <div >
            <label for="Contrast">Amount</label><br>
            <input type="number"   id="age"  class="form-control" name="Contrast" required>
            </div>

          </div>


          <div class="col-lg-4">

          </div>
          <div class="col-lg-4">
            <br>
            <input type="submit"  class="form-control">
          </div>
          <div class="col-lg-4">
            
          </div>

        </form>
      </div>

    </div>
  </body>
</html>